.componentContainer {
    width: 100%;
    background-color: #F7D83F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
}

.header {
    padding: .45rem;
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.headerImage {
    width: 10rem;
}